:root {
  --teal-100: #1DD4D8;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  height: 100vh;
  background-color: darkcyan;
  padding: 60px;
}

.link1,
.link2 {
  display: inline-block;
  font-family: sans-serif;
  color: white;
  background-color: var(--teal-100);
  padding: 16px 30px;
  text-decoration: none;
  outline: none;
}

.link1 {

  /* border image */
  border-image-source: url(../assets/images/link-pattern-top.png);
  border-image-slice: 1;
  border-image-width: 1073px;
  border-image-outset: 16px;
  border-image-repeat: repeat;
}

.link2 {
  border-style: solid;
  border-width: 30px;
  border-image-source: url(../assets/images/border-diamonds2.png);
  border-image-slice: 30;
  border-image-repeat: space;
}

.link3 {
  position: relative;
  display: inline-block;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus-visible {
    .link3__background {
      filter: brightness(0) saturate(100%) invert(82%) sepia(13%) saturate(4086%) hue-rotate(345deg) brightness(108%) contrast(87%);
    }
  }
  
  .link3__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--teal-100);
    transition: filter 0.3s ease;

    .link3__background__top {
      position: absolute;
      top: -16px;
      left: 0;
      width: 100%;
      height: 25px;
      background-color: transparent;
      background-image: url(../assets/images/link-pattern-top.png);
      background-size: 2146px 25px;
      background-repeat: repeat-x;
    }
  }

  span {
    display: inline-block;
    padding: 16px 30px;
    position: relative;
  }
}