:root {
  --teal-100: #1DD4D8;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  height: 100vh;
  background-color: darkcyan;
  padding: 60px;
}

.link3 {
  position: relative;
  display: inline-block;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus-visible {

    .link3__background-hover {
      opacity: 1 !important;
    }
    .link3__background {
      opacity: 0 !important;
    }
  }
  
  .link3__background,
  .link3__background-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;

    .link3__background-hover__top,
    .link3__background__top {
      position: absolute;
      top: -24px;
      left: 0;
      width: 100%;
      height: 25px;
      background-color: transparent;
      background-size: 4292px 39px;
      background-repeat: repeat-x;
    }

    .link3__background-hover__bottom,
    .link3__background__bottom {
      position: absolute;
      bottom: -24px;
      left: 0;
      width: 100%;
      height: 25px;
      background-color: transparent;
      background-size: 4292px 39px;
      background-repeat: repeat-x;
      transform: scaleY(-1) scaleX(-1);
    }

    .link3__background-hover__left,
    .link3__background__left {
      position: absolute;
      left: -7px;
      top: -13px;
      width: 7px;
      height: calc(100% + 31px);
      background-color: transparent;
      background-size: 7px 770px;
      background-repeat: repeat-y;
    }

    .link3__background-hover__right,
    .link3__background__right {
      position: absolute;
      right: -7px;
      top: -18px;
      width: 7px;
      height: calc(100% + 31px);
      background-color: transparent;
      background-size: 7px 770px;
      background-repeat: repeat-y;
      transform: scaleX(-1) scaleY(-1);
    }
  }

  .link3__background {
    background-color: var(--teal-100);

    .link3__background__bottom,
    .link3__background__top {
      background-image: url(../assets/images/link-pattern-top.svg);
    }

    .link3__background__right,
    .link3__background__left {
      background-image: url(../assets/images/link-pattern-left.svg);
    }
  }
  .link3__background-hover {
    background-color: #EFBE25;
    opacity: 0;

    .link3__background-hover__bottom,
    .link3__background-hover__top {
      background-image: url(../assets/images/link-pattern-top-hover.svg);
    }

    .link3__background-hover__right,
    .link3__background-hover__left {
      background-image: url(../assets/images/link-pattern-left-hover.svg);
    }
  }

  span {
    display: inline-block;
    padding: 16px 30px;
    position: relative;
    color: #232324;
    text-transform: uppercase;
    line-height: 160%;
  }
}