:root {
  --teal-100: #1DD4D8;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  height: 100vh;
  background-color: darkcyan;
  padding: 60px;
}

.link1,
.link2 {
  display: inline-block;
  font-family: sans-serif;
  color: white;
  background-color: var(--teal-100);
  padding: 16px 30px;
  text-decoration: none;
  outline: none;
}

.link1 {

  /* border image */
  border-image-source: url(../assets/images/link-pattern-top.png);
  border-image-slice: 1;
  border-image-width: 1073px;
  border-image-outset: 16px;
  border-image-repeat: repeat;
}

.link2 {
  border-style: solid;
  border-width: 30px;
  border-image-source: url(../assets/images/border-diamonds2.png);
  border-image-slice: 30;
  border-image-repeat: space;
}

.link3 {
  position: relative;
  display: inline-block;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus-visible {

    .link3__background-hover {
      opacity: 1 !important;
    }
    .link3__background {
      opacity: 0 !important;
    }
  }
  
  .link3__background,
  .link3__background-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;

    .link3__background-hover__top,
    .link3__background__top {
      position: absolute;
      top: -24px;
      left: 0;
      width: 100%;
      height: 25px;
      background-color: transparent;
      background-size: 4292px 39px;
      background-repeat: repeat-x;
    }
  }

  .link3__background {
    background-color: var(--teal-100);

    .link3__background__top {
      background-image: url(../assets/images/link-pattern-top.svg);
    }
  }
  .link3__background-hover {
    background-color: #EFBE25;
    opacity: 0;

    .link3__background-hover__top {
      background-image: url(../assets/images/link-pattern-top-hover.svg);
    }
  }

  span {
    display: inline-block;
    padding: 16px 30px;
    position: relative;
  }
}